.formulario{
  height: 100%;
}

.row{
  height: 10%;

}

.col{
  padding-top:1%;
  height: 15%;

}

h3{
  text-align: center;
  font-weight: bold;
}

label{
  font-weight: bold;
}

.error{
  color:rgb(211, 0, 0);
}
